<html>

<head>
	<title>Lest We Forget</title>
	<link href="./css/style.css" rel="stylesheet" type="text/css" />
	<link href="./scripts/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<img src="img/left_grey.png" id="leftClick" />
	<img src="img/right_grey.png" id="rightClick" />
	<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 bottom">
		<div id="loaderSection" class="" style="display: block;">
			{{#each this}}
            {{#if name}}
			<section id="{{@index}}" class="shadow firstOne">

				<div class="hard front">
                    <h2 class="title-label">{{name}}</h2>
                </div>

				<div class="hard frontback" id="frontbg"></div>
                
                <div class="page">
					<article class="indent">
						<img class="images-center" src="{{../image}}" alt="Image of {{../name}}" />
                        <div class="text">
                            <h3 class="center">{{serviceNumber}} - {{name}}</h3>
                            <h5 class="center">{{dob}} - {{dod}}</h5>
                            <h5 class="center">{{unit}}</h5>
                        </div>
                    </article>
				</div>
				{{#each pages}}
                {{#if description}}
				<div class="page">
					<article class="indent">
						<h3>{{../name}}</h3>
						<img class="images" src="{{image}}" alt="Image of {{../name}}" />
						<p id="text">{{description}}</p>
					</article>
				</div>
				<div class="page">
					<div id="map{{@../index}}-{{@index}}" data-lat="{{location.lat}}" data-long="{{location.long}}"  data-title="{{location.label}}" class="map"></div>
                    <p class="img-label">{{location.label}}</p>
				</div>
                {{/if}}
				{{/each}}
                <div class="page">
					<article class="indent">
                        <br />
						<h3 class="center">{{serviceNumber}} - {{name}}</h3>
						<h5 class="center">{{dob}} - {{dod}}</h5>
						<h5 class="center">{{unit}}</h5>
                        <br />
						<h3 class="center">Lest we forget...</h3>
					</article>
                </div>
				<div class="hard backbg"></div>
				<div class="hard back flip"></div>

			</section>
            {{/if}}
			{{/each}}

		</div>
	</div>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Uob3obiqh85-ywZk4-c5ccF4IaGNau0"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="./js/vendor/turn.js"></script>
	<script src="./scripts/js/bootstrap.min.js"></script>
	<script src="./js/index.js"></script>
</body>

</html>