@font-face {
	font-family: typewriter;
	src: url("/font/veterantypewriter.ttf");
}

.map {
	height: 80%;
	width: 80%;
	margin-top: 10%;
	margin-left: 10%;
	padding: 0;
}

.center {
    text-align: center;
}

.img-label {
    text-align: center;
    padding-top: 4px;
}

.title-label {
    /*
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    */
    top: 50%;
    text-align: center;
    font-size: 1.6em;
}

h1,
p,
div,
h3 {
	font-family: typewriter;
}

fo #flipbook1 .shadow,
#flipbook1.shadow {
	padding: 0;
	margin: 0;
	height: 80%;
	width: 100%;
	-webkit-box-shadow: 0 4px 10px #666;
	-moz-box-shadow: 0 4px 10px #666;
	-ms-box-shadow: 0 4px 10px #666;
	-o-box-shadow: 0 4px 10px #666;
	box-shadow: 0 4px 10px #666;
}

#flipbook2 {
	padding: 0;
	margin: 0;
	height: 80%;
	width: 100%;
	top: -100px;
}

.page {
	background-image: url("/img/paper.PNG");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0);
}

.firstOne {
	z-index: 10;
}

.secondOne {
	z-index: 9;
}

.images {
	position: absolute;
	max-width: 60%;
	max-height: 50%;
	float: left;
}

.images-center {
	position: absolute;
	max-width: 60%;
	max-height: 50%;
    margin-left: 15%;
}

#text {
	position: absolute;
	max-width: 80%;
	clear: both;
	top: 65%;
}

.text {
	position: absolute;
	max-width: 80%;
	clear: both;
	top: 65%;
}

.backbg {
	background-image: url("/img/manila-folder-back.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0);
	width: 100%
}

.back {
	background-image: url("/img/manila-folder-back.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0);
	width: 100%
}

.frontback {
	background-image: url("/img/manila-folder-frontback.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0);
}

.front {
	background-image: url("/img/manila-folder-front.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0);
}

.flip {
	transform: rotateY(180deg);
}

.indent {
	margin-left: 10%;
	max-height: 90%;
	margin-top: 50px;
}

body {
	background-image: url("/img/desktop.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.bottom {
	top: 2000px;
}

html,
body {
	height: 100%;
	overflow: hidden;
}