<script id="comments" type="text/x-handlebars-template">
	<div id="flipbook1" class="shadow firstOne">
		<div class="hard folder"> Lest We Forget </div>
		<div class="hard folder"></div>
		<div class="page"> Page 1 </div>
		<div class="page"> Page 2 </div>
		<div class="page"> Page 3 </div>
		<div class="page"> Page 4 </div>
		<div class="hard folder"></div>
		<div class="hard folder"></div>
	</div>
</script>